<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:dt="http://www.thymeleaf.org/dandelion/datatables"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Companies</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"/>
    <link href="/bootstrap-ds-custom/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link href="/css/bootstrap-custom.css" type="text/css" rel="stylesheet" media="screen"/>
    <script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
    <script src="/bootstrap-ds-custom/js/bootstrap.min.js"></script>
    <script src="/scripts/customBehaviour.js"></script>
</head>
<body>
<div class="btn-group pull-right">
    <button class="btn btn-link" onclick="location.href='/admin'">Admin Panel</button>
    <button class="btn btn-link" onclick="location.href='/login?logout'" sec:authorize="isAuthenticated()">
        Log Out
    </button>
</div>
<div class="jumbotron text-center">
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-lg-4">
                <a href="/"><img src="/images/logo.svg" class="pull-left"/></a>
            </div>
            <div class="col-lg-8 pull-right align-self-center jumbotron-column">
                <h1 class="jumbotron-header">Test Data Generator</h1>
            </div>
        </div>
    </div>
</div>
<div dt:conf="contentTable">
    <div dt:confType="export" dt:type="csv" dt:cssClass="btn-primary"></div>
    <div dt:confType="export" dt:type="xlsx" dt:cssClass="btn-primary"></div>
    <div dt:confType="export" dt:type="pdf" dt:cssClass="btn-primary"></div>
</div>
<div class="margin-container">
<div class="page-header">
    <div class="row">
        <div class="col-md-10">
            <h1>Companies</h1>
        </div>
        <div class="col-md-2">
            <div class="btn-group pull-right">
                <h2>
                    <button class="btn btn-primary" id="reload"><span class="glyphicon glyphicon-refresh"></span> Reload
                    </button>
                </h2>
            </div>
        </div>
    </div>
</div>
<div th:unless="${#lists.isEmpty(companies)}">
    <table id="contentTable" dt:table="true" class="table-striped table-condensed"
           dt:export="csv,xlsx,pdf" dt:pagingType="simple_numbers" dt:lengthMenu="15,25,50,100" dt:scrollX="100%"
           data-toggle="tooltip" title="Click on a cell to copy it; double-click to copy the entire row.">
        <thead>
        <tr>
            <th th:if="*{#arrays.contains(companyTableConfig, 'name')}">Name</th>
            <th th:if="*{#arrays.contains(companyTableConfig, 'website')}">Website</th>
            <th th:if="*{#arrays.contains(companyTableConfig, 'email')}">Email</th>
            <th th:if="*{#arrays.contains(companyTableConfig, 'vatIdentificationNumber')}">VATIN</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="company : ${companies}">
            <td th:if="*{#arrays.contains(companyTableConfig, 'name')}" th:text="${company.name}">Name</td>
            <td th:if="*{#arrays.contains(companyTableConfig, 'website')}" th:text="${'http://' + company.domain}">
                Website
            </td>
            <td th:if="*{#arrays.contains(companyTableConfig, 'email')}" th:text="${company.email}">Email</td>
            <td th:if="*{#arrays.contains(companyTableConfig, 'vatIdentificationNumber')}"
                th:text="${company.vatIdentificationNumber}">VATIN
            </td>
        </tr>
        </tbody>
    </table>
</div>
</div>
<div id="copyContent" class="outOfView"></div>
<footer class="footer">
    <div class="container">
        <span class="text-muted">Test data generator based on the <a href="https://github.com/Devskiller/jfairy">jFairy library</a>.
            Created by <a href="http://olgamaciaszek.github.io/">Olga Maciaszek-Sharma</a>.
            Powered by <a href="https://devskiller.com/">Devskiller</a>.<br/><a href="/">Home. </a><a
                    href="/api">API Documentation. </a><a
                    href="/admin">Admin Panel. </a>
        </span>
    </div>
</footer>
</body>
</html>