<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Data Input Confirmation</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"/>
    <link href="/bootstrap-ds-custom/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link href="/css/bootstrap-custom.css" type="text/css" rel="stylesheet" media="screen"/>
    <script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
    <script src="/bootstrap-ds-custom/js/bootstrap.min.js"></script>
    <script src="/scripts/customBehaviour.js"></script>
</head>
<body>
<main role="main">
    <div class="btn-group pull-right">
        <button class="btn btn-link" onclick="location.href='/admin'">Admin Panel</button>
        <button class="btn btn-link" onclick="location.href='/login?logout'" sec:authorize="isAuthenticated()">
            Log Out
        </button>
    </div>
    <div class=" jumbotron text-center">
        <div class="container">
            <div class="row justify-content-start">
                <div class="col-lg-4">
                    <a href="/"><img src="/images/logo.svg" class="pull-left"/></a>
                </div>
                <div class="col-lg-8 pull-right align-self-center jumbotron-column">
                    <h1 class="jumbotron-header">Test Data Generator</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="margin-container">
<div class="panel panel-primary">
    <div class="panel-body text-center">
        <h1>Thank you for your contribution.</h1>
        <h3>The data you submitted has been saved. It will be added to our database once it has been approved by the
            admin.</h3>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <button class="btn btn-primary btn-block" id="addMore" onclick="location.href='/data'">Add more data
            </button>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
    </div>
</main>
<footer class="footer">
    <div class="container">
        <span class="text-muted">Test data generator based on the <a href="https://github.com/Devskiller/jfairy">jFairy library</a>.
            Created by <a href="http://olgamaciaszek.github.io/">Olga Maciaszek-Sharma</a>.
            Powered by <a href="https://devskiller.com/">Devskiller</a>.<br/><a href="/">Home. </a><a
                    href="/api">API Documentation. </a><a
                    href="/admin">Admin Panel. </a>
        </span>
    </div>
</footer>
</body>
</html>