<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Data Input Selection</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"/>
    <link href="/bootstrap-ds-custom/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link href="/css/bootstrap-custom.css" type="text/css" rel="stylesheet" media="screen"/>
    <script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
    <script src="/bootstrap-ds-custom/js/bootstrap.min.js"></script>
    <script src="/scripts/customBehaviour.js"></script>
    <script src="/scripts/validateInput.js"></script>
</head>
<body style="margin: 0.8%;">
<div class="page-header">
    <div class="row">
        <div class="col-md-11">
            <h1>Data Input</h1>
        </div>
        <div class="col-md-1">
            <div class="btn-group">
                <h2>
                    <button class="btn btn-primary" id="home" onclick="location.href='/'"><span
                            class="glyphicon glyphicon-home"></span> Home
                    </button>
                </h2>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">Add data</div>
    <div class="panel-body">
        <form th:action="@{/data}" th:object="${dataPack}" method="post">
            <div class="form-inline">
                <div id="langs" class="form-group">
                    <div class="radio radio-inline">
                        <label><input class="form-control" type="radio" th:field="*{language}" th:value="EN"
                                      th:checked="checked"/> EN</label>
                    </div>
                    <div class="radio radio-inline">
                        <label><input class="form-control" type="radio" th:field="*{language}" th:value="ES"/>
                            ES</label>
                    </div>
                    <div class="radio radio-inline">
                        <label><input class="form-control" type="radio" th:field="*{language}" th:value="PL"/>
                            PL</label>
                    </div>
                    <div class="radio radio-inline">
                        <label><input class="form-control" type="radio" th:field="*{language}" th:value="FR"/>
                            FR</label>
                    </div>
                    <div class="radio radio-inline">
                        <label><input class="form-control" type="radio" th:field="*{language}" th:value="DE"/>
                            DE</label>
                    </div>
                    <div class="radio radio-inline">
                        <label><input class="form-control" type="radio" th:field="*{language}" th:value="SV"/>
                            SV</label>
                    </div>
                    <div class="radio radio-inline">
                        <label><input class="form-control" type="radio" th:field="*{language}" th:value="ZH"/>
                            ZH</label>
                    </div>
                </div>
            </div>
            <div class="form-inline">
                <div id="dataTypes" class="form-group">
                    <div class="radio radio-inline">
                        <label><input class="form-control" type="radio" th:field="*{dataType}" th:value="FEMALE_NAME"
                                      th:checked="checked"/> Female Name</label>
                    </div>
                    <div class="radio radio-inline">
                        <label><input class="form-control" type="radio" th:field="*{dataType}" th:value="MALE_NAME"/>
                            Male
                            Name</label>
                    </div>
                    <div class="radio radio-inline">
                        <label><input class="form-control" type="radio" th:field="*{dataType}"
                                      th:value="FEMALE_LAST_NAME"/>
                            Female Last Name</label>
                    </div>
                    <div class="radio radio-inline">
                        <label><input class="form-control" type="radio" th:field="*{dataType}"
                                      th:value="MALE_LAST_NAME"/>
                            Male Last Name</label>
                    </div>
                    <div class="radio radio-inline">
                        <label><input class="form-control" type="radio" th:field="*{dataType}" th:value="COMPANY_NAME"/>
                            Company Name</label>
                    </div>
                    <div class="radio radio-inline">
                        <label><input class="form-control" type="radio" th:field="*{dataType}" th:value="STREET"/>
                            Street</label>
                    </div>
                    <div class="radio radio-inline">
                        <label><input class="form-control" type="radio" th:field="*{dataType}" th:value="CITY"/>
                            City</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="data">Insert data separated by commas:</label>
                <textarea th:field="*{data}" maxlength="20000" class="form-control" rows="20" id="data"></textarea>
                <div class="alert alert-danger added-margin-top" role="alert" th:if="${#fields.hasErrors('data')}" th:errors="*{data}">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Data Error:</span>
                </div>
            </div>
            <div class="forminline added-margin-bottom added-large-margin-top">
                <div class="row">
                    <div class="col-lg-4">
                        <label for="contributorName">Name (Optional - for List of Contributors)</label>
                        <input th:field="*{contributorName}" maxlength="200" class="form-control" id="contributorName"/>
                    </div>
                    <div class="col-lg-4">
                        <label for="contributorSurname">Surname (Optional - for List of Contributors)</label>
                        <input th:field="*{contributorSurname}" maxlength="200" class="form-control"
                               id="contributorSurname"/>
                    </div>
                    <div class="col-lg-4">
                        <label for="contributorEmail">Email (Optional - for List of Contributors)</label>
                        <input th:field="*{contributorEmail}" maxlength="200" class="form-control"
                               id="contributorEmail"/>
                        <div class="alert alert-danger added-margin-top" role="alert" th:if="${#fields.hasErrors('contributorEmail')}">
                            <span class="sr-only">Contributor Email Error:</span>
                            <span th:errors="*{contributorEmail}"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="forminline">
                <div class="row">
                    <div class="col-lg-1">
                        <input class="form-control pull-right" type="checkbox" th:field="*{dataAgreement}"
                               id="dataAgreement"/>
                    </div>
                    <div class="col-lg-11">
                        <label for="dataAgreement" class="added-margin-top">I hereby agree for processing and storing my
                            personal data, included
                            in this form, for the purpose of adding this contribution.</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-1">
                    </div>
                    <div class="col-lg-11">
                        <span class="glyphicon glyphicon-info-sign"><small>   You only need to mark this checkbox if you are submitting any personal data.</small></span>
                    </div>
                </div>
            </div>
            <div class="row added-large-margin-top">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <button type="submit" id="submit" class="btn btn-primary btn-block">Submit</button>
                </div>
                <div class="col-md-4"></div>
            </div>
        </form>
    </div>
</div>
</body>
</html>