<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Data Fairy</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"/>
    <link href="/bootstrap-ds-custom/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link href="/css/bootstrap-custom.css" type="text/css" rel="stylesheet" media="screen"/>
    <script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
    <script src="/bootstrap-ds-custom/js/bootstrap.min.js"></script>
    <script src="/scripts/customBehaviour.js"></script>
</head>
<body>
<main role="main">
<div class="btn-group pull-right">
    <button class="btn btn-link" onclick="location.href='/admin'">Admin Panel</button>
        <button class="btn btn-link" onclick="location.href='/login?logout'" sec:authorize="isAuthenticated()">
            Log Out
        </button>
</div>
    <div class=" jumbotron text-center">
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-lg-4">
                <a href="/"><img src="/images/logo.svg" class="pull-left"/></a>
            </div>
            <div class="col-lg-8 pull-right align-self-center jumbotron-column">
                <h1 class="jumbotron-header">Test Data Generator</h1>
            </div>
        </div>
    </div>
</div>
    <div class="margin-container">
        <div class="container panel-container">
<div class="panel panel-primary" data-toggle="tooltip"
     title="Select data language, record count and fields to be displayed.">
    <div class="panel-heading">Generate Person Data</div>
    <div class="panel-body">
        <form th:action="@{/persons}" method="get">
            <div class="form-inline">
                <label for="langs">Data Language:</label>
                <div id="langs" class="form-group">
                    <div class="radio radio-inline">
                        <label><input class="form-control" type="radio" th:name="lang" th:value="EN"
                                      th:checked="checked"/> EN</label>
                    </div>
                    <div class="radio radio-inline">
                        <label><input class="form-control" type="radio" th:name="lang" th:value="ES"/> ES</label>
                    </div>
                    <div class="radio radio-inline">
                        <label><input class="form-control" type="radio" th:name="lang" th:value="PL"/> PL</label>
                    </div>
                    <div class="radio radio-inline">
                        <label><input class="form-control" type="radio" th:name="lang" th:value="FR"/> FR</label>
                    </div>
                    <div class="radio radio-inline">
                        <label><input class="form-control" type="radio" th:name="lang" th:value="DE"/> DE</label>
                    </div>
                    <div class="radio radio-inline">
                        <label><input class="form-control" type="radio" th:name="lang" th:value="SV"/> SV</label>
                    </div>
                    <div class="radio radio-inline">
                        <label><input class="form-control" type="radio" th:name="lang" th:value="ZH"/> ZH</label>
                    </div>
                </div>
                <div class="form-group" style="margin-left: 200px;">
                    <label for="count"><b>Record Count:</b></label>
                    <input class="form-control" type="number" id="count" th:name="count" th:min="1" th:max="1000"
                           th:value="100"/>
                </div>
            </div>
            <div class="form-inline">
                <label><input class="form-control" type="checkbox" th:name="personTableConfig" th:value="firstName"
                              th:checked="checked"/>First Name</label>
                <label><input class="form-control" type="checkbox" th:name="personTableConfig" th:value="middleName"
                              th:checked="checked"/>Middle Name</label>
                <label><input class="form-control" type="checkbox" th:name="personTableConfig" th:value="address"
                              th:checked="checked"/>Address</label>
                <label><input class="form-control" type="checkbox" th:name="personTableConfig" th:value="email"
                              th:checked="Email"/>Last Name</label>
                <label><input class="form-control" type="checkbox" th:name="personTableConfig" th:value="username"
                              th:checked="checked"/>Username</label>
                <label><input class="form-control" type="checkbox" th:name="personTableConfig" th:value="password"
                              th:checked="checked"/>Password</label>
                <label><input class="form-control" type="checkbox" th:name="personTableConfig" th:value="gender"
                              th:checked="Gender"/>Username</label>
                <label><input class="form-control" type="checkbox" th:name="personTableConfig"
                              th:value="telephoneNumber" th:checked="checked"/>Telephone Number</label>
                <label><input class="form-control" type="checkbox" th:name="personTableConfig" th:value="dateOfBirth"
                              th:checked="checked"/>Date of Birth</label>
                <label><input class="form-control" type="checkbox" th:name="personTableConfig" th:value="age"
                              th:checked="checked"/>Age</label>
                <label><input class="form-control" type="checkbox" th:name="personTableConfig" th:value="companyName"
                              th:checked="checked"/>Company Name</label>
                <label><input class="form-control" type="checkbox" th:name="personTableConfig" th:value="companyWebsite"
                              th:checked="checked"/>Company Website</label>
                <label><input class="form-control" type="checkbox" th:name="personTableConfig" th:value="companyEmail"
                              th:checked="checked"/>Company Email</label>
                <label><input class="form-control" type="checkbox" th:name="personTableConfig"
                              th:value="companyVatIdentificationNumber" th:checked="checked"/>Company VATIN</label>
                <label><input class="form-control" type="checkbox" th:name="personTableConfig"
                              th:value="nationalIdentityCardNumber" th:checked="checked"/>National Identity Card Number</label>
                <label><input class="form-control" type="checkbox" th:name="personTableConfig"
                              th:value="nationalIdentificationNumber" th:checked="checked"/>National Identification
                    Number</label>
                <label><input class="form-control" type="checkbox" th:name="personTableConfig" th:value="passportNumber"
                              th:checked="checked"/>Passport Number</label>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-primary btn-block">Generate Persons</button>
                </div>
                <div class="col-md-4"></div>
            </div>
        </form>
    </div>
</div>
<div class="panel panel-primary" data-toggle="tooltip"
     title="Select data language, record count and fields to be displayed.">
    <div class="panel-heading">Generate Companies Data</div>
    <div class="panel-body">
        <form th:action="@{/companies}" method="get">
            <div class="form-inline">
                <label for="langs">Data Language:</label>
                <div id="langs" class="form-group">
                    <div class="radio radio-inline">
                        <label><input class="form-control" type="radio" th:name="lang" th:value="EN"
                                      th:checked="checked"/> EN</label>
                    </div>
                    <div class="radio radio-inline">
                        <label><input class="form-control" type="radio" th:name="lang" th:value="ES"/> ES</label>
                    </div>
                    <div class="radio radio-inline">
                        <label><input class="form-control" type="radio" th:name="lang" th:value="PL"/> PL</label>
                    </div>
                    <div class="radio radio-inline">
                        <label><input class="form-control" type="radio" th:name="lang" th:value="FR"/> FR</label>
                    </div>
                    <div class="radio radio-inline">
                        <label><input class="form-control" type="radio" th:name="lang" th:value="DE"/> DE</label>
                    </div>
                    <div class="radio radio-inline">
                        <label><input class="form-control" type="radio" th:name="lang" th:value="SV"/> SV</label>
                    </div>
                    <div class="radio radio-inline">
                        <label><input class="form-control" type="radio" th:name="lang" th:value="ZH"/> ZH</label>
                        <div class="form-group" style="margin-left: 200px;">
                            <label for="count"><b>Record Count:</b></label>
                            <input class="form-control" type="number" id="count" th:name="count" th:min="1"
                                   th:max="1000" th:value="100"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-inline">
                <label><input class="form-control" type="checkbox" th:name="companyTableConfig" th:value="name"
                              th:checked="checked"/>Name</label>
                <label><input class="form-control" type="checkbox" th:name="companyTableConfig" th:value="website"
                              th:checked="checked"/>Website</label>
                <label><input class="form-control" type="checkbox" th:name="companyTableConfig" th:value="email"
                              th:checked="checked"/>Email</label>
                <label><input class="form-control" type="checkbox" th:name="companyTableConfig"
                              th:value="vatIdentificationNumber"
                              th:checked="Email"/>VATIN</label>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-primary btn-block">Generate Companies</button>
                </div>
                <div class="col-md-4"></div>
            </div>
        </form>
    </div>
</div>
<div class="panel panel-primary" data-toggle="tooltip"
     title="Select data language, unit count and type of text to be displayed.">
    <div class="panel-heading">Generate Text</div>
    <div class="panel-body">
        <form id="textform" th:action="@{/text}" method="get">
            <div class="form-inline">
                <label for="langs">Data Language:</label>
                <div id="langs" class="form-group">
                    <div class="radio radio-inline">
                        <label><input class="form-control" type="radio" th:name="lang" th:value="EN"
                                      th:checked="checked"/> EN</label>
                    </div>
                    <div class="radio radio-inline">
                        <label><input class="form-control" type="radio" th:name="lang" th:value="ES"/> ES</label>
                    </div>
                    <div class="radio radio-inline">
                        <label><input class="form-control" type="radio" th:name="lang" th:value="PL"/> PL</label>
                    </div>
                    <div class="radio radio-inline">
                        <label><input class="form-control" type="radio" th:name="lang" th:value="FR"/> FR</label>
                    </div>
                    <div class="radio radio-inline">
                        <label><input class="form-control" type="radio" th:name="lang" th:value="DE"/> DE</label>
                    </div>
                    <div class="radio radio-inline">
                        <label><input class="form-control" type="radio" th:name="lang" th:value="SV"/> SV</label>
                    </div>
                    <div class="radio radio-inline">
                        <label><input class="form-control" type="radio" th:name="lang" th:value="ZH"/> ZH</label>
                        <div class="form-group" style="margin-left: 200px;">
                            <label for="count"><b>Count:</b></label>
                            <input class="form-control" type="number" id="count" th:name="count" th:min="1"
                                   th:max="1000" th:value="1"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-inline">
                <div id="textType" class="form-group">
                    <div class="radio radio-inline">
                        <label><input class="form-control" type="radio" th:name="textType" th:value="text"
                                      th:checked="checked"/> Text</label>
                    </div>
                    <div class="radio radio-inline">
                        <label><input class="form-control" type="radio" th:name="textType"
                                      th:value="loremIpsum"/> Lorem
                            Ipsum</label>
                    </div>
                    <div class="radio radio-inline">
                        <label><input class="form-control" type="radio" th:name="textType"
                                      th:value="word"/> Word</label>
                    </div>
                    <div class="radio radio-inline">
                        <label><input class="form-control" type="radio" th:name="textType"
                                      th:value="latinWord"/> Latin Word</label>
                    </div>
                    <div class="radio radio-inline">
                        <label><input class="form-control" type="radio" th:name="textType"
                                      th:value="sentence"/> Sentence</label>
                    </div>
                    <div class="radio radio-inline">
                        <label><input class="form-control" type="radio" th:name="textType"
                                      th:value="latinSentence"/> Latin
                            Sentence</label>
                    </div>
                    <div class="radio radio-inline">
                        <label><input class="form-control" type="radio" th:name="textType"
                                      th:value="paragraph"/> Paragraph</label>
                    </div>
                    <div class="radio radio-inline">
                        <label><input class="form-control" type="radio" th:name="textType"
                                      th:value="random"/> Random</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-primary btn-block">Generate Text</button>
                </div>
                <div class="col-md-4"></div>
            </div>
        </form>
    </div>
</div>
<button class="btn btn-lg btn-block" onclick="location.href='/data'">Contribute - add locale-specific data</button>
        </div>
    </div>
</main>
<footer class="footer">
    <div class="container">
        <span class="text-muted">Test data generator based on the <a href="https://github.com/Devskiller/jfairy">jFairy library</a>.
            Created by <a href="http://olgamaciaszek.github.io/">Olga Maciaszek-Sharma</a>.
            Powered by <a href="https://devskiller.com/">Devskiller</a>.<br/><a href="/">Home</a>  |
            <a href="/api">API Documentation</a>  |
            <a href="/admin">Admin Panel</a>
        </span>
    </div>
</footer>
</body>
</html>