<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>JFairy Online</title>
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link href="/css/bootstrap-custom.css" type="text/css" rel="stylesheet" media="screen"/>
    <script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
    <script src="/scripts/customBehaviour.js"></script>
</head>
<body style="margin: 0.8%;">
<div class="jumbotron text-center">
    <h1>JFairy Online</h1>
    <h2>Test data generator based on the <a href="https://github.com/Devskiller/jfairy">jFairy library</a>.<br/>
        <small>
            This app has been developed by <a href="http://olgamaciaszek.github.io/">Olga Maciaszek-Sharma</a> as a
            student project at the <a href="http://www.pja.edu.pl/en/">Polish-Japanese Academy Of Information
            Technology</a>.
        </small>
    </h2>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">Generate Person Data</div>
    <div class="panel-body">
        <form th:action="@{/persons}" method="get">
            <div class="form-inline">
                <label for="langs">Data Language:</label>
                <div id="langs" class="form-group">
                    <div class="radio radio-inline">
                        <label><input class="form-control" type="radio" th:name="lang" th:value="EN"
                                      th:checked="checked"/> EN</label>
                    </div>
                    <div class="radio radio-inline">
                        <label><input class="form-control" type="radio" th:name="lang" th:value="ES"/> ES</label>
                    </div>
                    <div class="radio radio-inline">
                        <label><input class="form-control" type="radio" th:name="lang" th:value="FR"/> FR</label>
                    </div>
                    <div class="radio radio-inline">
                        <label><input class="form-control" type="radio" th:name="lang" th:value="DE"/> DE</label>
                    </div>
                    <div class="radio radio-inline">
                        <label><input class="form-control" type="radio" th:name="lang" th:value="SV"/> SV</label>
                    </div>
                    <div class="radio radio-inline">
                        <label><input class="form-control" type="radio" th:name="lang" th:value="ZH"/> ZH</label>
                        <div class="form-group" style="margin-left: 200px;">
                            <label for="count"><b>Record Count:</b></label>
                            <input class="form-control" type="number" id="count" th:name="count" th:value="100"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-primary btn-block">Generate Persons</button>
                </div>
                <div class="col-md-4"></div>
            </div>
        </form>

    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading text-center"><h3>Generate Test Data</h3></div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary btn-lg btn-block" onclick="location.href='/persons'">Generate Persons</button>
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary btn-lg btn-block" onclick="location.href='/companies'">Generate Companies</button>
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary btn-lg btn-block" onclick="location.href='/text'">Generate Text</button>
            </div>
        </div>
    </div>
</div>
<button class="btn btn-lg btn-block">Contribute - add locale-specific data</button>
</body>
</html>