<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <title>Log In</title>
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link href="/css/bootstrap-custom.css" type="text/css" rel="stylesheet" media="screen"/>
    <script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</head>
<body style="margin: 0.8%">
<div class="page-header">
    <h1>Login Form</h1>
</div>
<div class="panel">

    <form th:action="@{/login}" method="post">

        <fieldset>
            <div class="form">
                <div th:if="${param.error}" class="alert alert-danger">
                    Invalid username and/ or password.
                </div>
                <div th:if="${param.logout}" class="alert alert-success">
                    You have been logged out.
                </div>
                <label for="username">Email:</label>
                <div class="row">
                    <div class="col-md-6">
                        <input type="email" class="form-control" id="username" name="username"/>
                    </div>
                </div>
                <label for="password">Password:</label>
                <div class="row">
                    <div class="col-md-6">
                        <input type="password" class="form-control" id="password" name="password"/>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" style="margin-top:10px;">Log In</button>
        </fieldset>
    </form>
</div>
</body>
</html>