<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:dt="http://www.thymeleaf.org/dandelion/datatables">
<head>
    <title>Persons</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"/>
    <link href="/bootstrap-ds-custom/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link href="/css/bootstrap-custom.css" type="text/css" rel="stylesheet" media="screen"/>
    <script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
    <script src="/bootstrap-ds-custom/js/bootstrap.min.js"></script>
    <script src="/scripts/customBehaviour.js"></script>
</head>
<body style="margin: 0.8%;">
<div dt:conf="contentTable">
    <div dt:confType="export" dt:type="csv" dt:cssClass="btn-primary"></div>
    <div dt:confType="export" dt:type="xlsx" dt:cssClass="btn-primary"></div>
    <div dt:confType="export" dt:type="pdf" dt:cssClass="btn-primary"></div>
</div>
<div class="page-header">
    <div class="row">
        <div class="col-md-10">
            <h1>Persons</h1>
        </div>
        <div class="col-md-2">
            <div class="btn-group">
                <h2>
                    <button class="btn btn-primary" id="home" onclick="location.href='/'"><span
                            class="glyphicon glyphicon-home"></span> Home
                    </button>
                    <button class="btn btn-primary" id="reload"><span class="glyphicon glyphicon-refresh"></span> Reload
                    </button>
                </h2>
            </div>
        </div>
    </div>
</div>
    <div th:unless="${#lists.isEmpty(persons)}">
        <table id="contentTable" dt:table="true" class="table-striped table-condensed"
               dt:export="csv,xlsx,pdf" dt:pagingType="simple_numbers" dt:lengthMenu="15,25,50,100" dt:scrollX="100%"
               data-toggle="tooltip" title="Click on a cell to copy it; double-click to copy the entire row.">
            <thead>
            <tr>
                <th th:if="*{#arrays.contains(personTableConfig, 'firstName')}">First Name</th>
                <th th:if="*{#arrays.contains(personTableConfig, 'middleName')}">Middle Name</th>
                <th th:if="*{#arrays.contains(personTableConfig, 'lastName')}">Last Name</th>
                <th th:if="*{#arrays.contains(personTableConfig, 'address')}">Address</th>
                <th th:if="*{#arrays.contains(personTableConfig, 'email')}">Email</th>
                <th th:if="*{#arrays.contains(personTableConfig, 'username')}">Username</th>
                <th th:if="*{#arrays.contains(personTableConfig, 'password')}">Password</th>
                <th th:if="*{#arrays.contains(personTableConfig, 'gender')}">Gender</th>
                <th th:if="*{#arrays.contains(personTableConfig, 'telephoneNumber')}">Telephone Number</th>
                <th th:if="*{#arrays.contains(personTableConfig, 'dateOfBirth')}">Date of Birth</th>
                <th th:if="*{#arrays.contains(personTableConfig, 'age')}">Age</th>
                <th th:if="*{#arrays.contains(personTableConfig, 'companyName')}">Company Name</th>
                <th th:if="*{#arrays.contains(personTableConfig, 'companyWebsite')}">Company Website</th>
                <th th:if="*{#arrays.contains(personTableConfig, 'companyEmail')}">Company Email</th>
                <th th:if="*{#arrays.contains(personTableConfig, 'companyVatIdentificationNumber')}">Company VATIN</th>
                <th th:if="*{#arrays.contains(personTableConfig, 'nationalIdentityCardNumber')}">National Identity Card
                    Number
                </th>
                <th th:if="*{#arrays.contains(personTableConfig, 'nationalIdentificationNumber')}">National
                    Identification Number
                </th>
                <th th:if="*{#arrays.contains(personTableConfig, 'passportNumber')}">Passport Number</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="person : ${persons}">
                <td th:if="*{#arrays.contains(personTableConfig, 'firstName')}" th:text="${person.firstName}">First
                    Name
                </td>
                <td th:if="*{#arrays.contains(personTableConfig, 'middleName')}" th:text="${person.middleName}">Middle
                    Name
                </td>
                <td th:if="*{#arrays.contains(personTableConfig, 'lastName')}" th:text="${person.lastName}">Last Name
                </td>
                <td th:if="*{#arrays.contains(personTableConfig, 'address')}" th:utext="${person.address.toString()}">
                    Address
                </td>
                <td th:if="*{#arrays.contains(personTableConfig, 'email')}" th:text="${person.email}">Email</td>
                <td th:if="*{#arrays.contains(personTableConfig, 'username')}" th:text="${person.username}">Username
                </td>
                <td th:if="*{#arrays.contains(personTableConfig, 'password')}" th:text="${person.password}">Password
                </td>
                <td th:if="*{#arrays.contains(personTableConfig, 'gender')}" th:text="${person.sex}">Sex</td>
                <td th:if="*{#arrays.contains(personTableConfig, 'telephoneNumber')}"
                    th:text="${person.telephoneNumber}">Telephone Number
                </td>
                <td th:if="*{#arrays.contains(personTableConfig, 'dateOfBirth')}" th:text="${person.dateOfBirth}"> Date
                    of Birth
                </td>
                <td th:if="*{#arrays.contains(personTableConfig, 'age')}" th:text="${person.age}">Age
                </td>
                <td th:if="*{#arrays.contains(personTableConfig, 'companyName')}" th:text="${person.company.name}">
                    Company Name
                </td>
                <td th:if="*{#arrays.contains(personTableConfig, 'companyWebsite')}"
                    th:text="${'http://' + person.company.domain}">Company Website
                </td>
                <td th:if="*{#arrays.contains(personTableConfig, 'companyEmail')}" th:text="${person.companyEmail}">
                    Company Email
                </td>
                <td th:if="*{#arrays.contains(personTableConfig, 'companyVatIdentificationNumber')}"
                    th:text="${person.company.vatIdentificationNumber}">Company VATIN
                </td>
                <td th:if="*{#arrays.contains(personTableConfig, 'nationalIdentityCardNumber')}"
                    th:text="${person.nationalIdentityCardNumber}">National Identity Card Number
                </td>
                <td th:if="*{#arrays.contains(personTableConfig, 'nationalIdentificationNumber')}"
                    th:text="${person.nationalIdentificationNumber}">National Identification Number
                </td>
                <td th:if="*{#arrays.contains(personTableConfig, 'passportNumber')}"
                th:text="${person.passportNumber}">Passport Number</td>
            </tr>
            </tbody>
        </table>
    </div>
<div id="copyContent" class="outOfView"></div>
<footer class="footer-table">
    <div class="container">
        <span class="text-muted">Test data generator based on the <a href="https://github.com/Devskiller/jfairy">jFairy library</a>.
            Created by <a href="http://olgamaciaszek.github.io/">Olga Maciaszek-Sharma</a>.
            Powered by <a href="https://devskiller.com/">Devskiller</a>.</span>
    </div>
</footer>
</body>

</html>