<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Text</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"/>
    <link href="/bootstrap-ds-custom/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link href="/css/bootstrap-custom.css" type="text/css" rel="stylesheet" media="screen"/>
    <script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
    <script src="/bootstrap-ds-custom/js/bootstrap.min.js"></script>
    <script src="/scripts/customBehaviour.js"></script>
</head>
<body style="margin: 0.8%;">
<div class="page-header">
    <div class="row">
        <div class="col-md-10">
            <h1>Text</h1>
        </div>
        <div class="col-md-2">
            <div class="btn-group">
                <h2>
                    <button class="btn btn-primary" id="home" onclick="location.href='/'"><span
                            class="glyphicon glyphicon-home"></span> Home
                    </button>
                    <button class="btn btn-primary" id="reload"><span class="glyphicon glyphicon-refresh"></span> Reload
                    </button>
                </h2>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-primary">
    <div th:text="${text}" class="panel-body" data-toggle="tooltip" title="Click to copy the text.">Text</div>
</div>
<div id="copyContent" class="outOfView"></div>
<footer class="footer-text">
    <div class="container">
        <span class="text-muted">Test data generator based on the <a href="https://github.com/Devskiller/jfairy">jFairy library</a>.
            Created by <a href="http://olgamaciaszek.github.io/">Olga Maciaszek-Sharma</a>.
            Powered by <a href="https://devskiller.com/">Devskiller</a>.</span>
    </div>
</footer>
</body>
</html>